# URL rewriting
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]

<IfModule header_module>
	# 1 week cache
	<FilesMatch "\.(png|ico)$">
	Header set Cache-Control "max-age=604800, public"
	</FilesMatch>
</IfModule>
